.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0047AB;
  padding: .25rem 1rem;
}

.logo{
  font-family: "Pacifico", sans-serif;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 1rem;
  color: white;
  font-size: 1.2rem;
}

li{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #006aff;
}