<div class="container">
  <div class="login-container">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <form-input 
        [control]="fc['username']"
        [showErrorsWhen]="isSubmitted"
        label="Username"
      ></form-input>
      <form-input 
        [control]="fc['password']"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password"
      ></form-input>
      <form-button 
        text="Login"
      >
      </form-button>
      <div class="register">
        Not registered? &nbsp;
        <a routerLink="/register" >
          Register here
        </a>
      </div>
    </form>
  </div>
</div>
