body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    padding-top: 50px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.background {
    position: fixed;
    z-index: -1;
    background-image: url("../public/question_marks_background.jpg");
    opacity: 0.5;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
